<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UniversityDBConnection"
         connectionString="Data Source=DESKTOP-PF22DB1\SQLEXPRESS;Initial Catalog=UniversityDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>